<div class="box">
  <h2 class='text-2xl mx-3'>Forgot your password?</h2>
  
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="field flex flex-col my-2 mx-3">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'input' %>
    </div>
  
    <div class="actions mx-3">
      <%= f.submit "Reset password", class:'btn btn-blue mt-2' %>
    </div>
  <% end %>
  
  <div class="mx-3"><%= render "devise/shared/links" %></div>
</div>

