<%= form_with url: root_path, method: :get, class: "box" do |f| %>
    <%= f.label :input, 'Search by song/lyric/artist' %>
    <%= f.text_field :input, class: "input" %>

    <%= f.submit "Search", class: "btn btn-blue" %>
<% end %>


<ul class='m-3 p-3'>
  <% unless result.empty? %>
    <% @result[:response][:hits].each do |hit| %>
      <li class='flex justify-between items-center my-2'>
        <p class="text-sm"><%= hit[:result][:full_title] %></p>
        <%= form_with model: @song do |f| %>
            <%= f.hidden_field :image_url, value: hit[:result][:song_art_image_thumbnail_url] %>
            <%= f.hidden_field :lyrics_url, value: hit[:result][:url] %>
            <%= f.hidden_field :title, value: hit[:result][:title] %>
            <%= f.hidden_field :artist, value: hit[:result][:artist_names] %>
            <%= f.hidden_field :genius_id, value: hit[:result][:id] %>
            <%= f.submit "Add", class: "btn-small btn-blue" %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>