<%= form_with model: song, class: "box flex flex-col" do |f| %>

    <div class="flex justify-around">
      <%= f.label :title, class: "" %>
      <%= f.text_field :title, class: "input" %>
    </div>

    <div class="flex justify-around my-2">
      <%= f.label :artist, class: "" %>
      <%= f.text_field :artist, class: "input" %>
    </div>
    
    <%= f.submit "Save", class: "border btn btn-blue" %>
<% end %>
