<%= render "shared/navbar" %>

<h1 class="text-xl m-3">Hello <%= current_user.first_name %>,</h1>
  
    <div class="box">
    <p>Songs:</p>
    <ul>
      <% @songs.each do |song| %>
        <%= turbo_frame_tag song do %>
          <li class="flex justify-between items-center my-2">
            <p>
              <b><%=link_to song.title, song_path(song.id), data: {turbo_frame: '_top'} %></b> by
              <b><%= song.artist %></b>
            </p>
            <div class='flex justify-between items-center'>
              <%= link_to image_tag("edit.png", class:'w-4 mx-3'), edit_song_path(song.id) %>
              <%= link_to image_tag("x.png", class: 'w-4 mx-3'), song_path(song.id), data: {turbo_method: :delete} %> 
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>

    
    <% if @songs.empty? %>
      <p>No songs yet!</p>
    <% end %>
  </div>

<%= render 'search' %>