<h1>Songs:</h1>

<p>Hello, <%= current_user.email %></p>
<p>Here are your songs:</p>
<ul>
  <% @songs.each do |song| %>
    <%= turbo_frame_tag song do %>
      <li>
        <%= "#{song.title} - #{song.artist}" %> --- 
        <%= link_to "delete", song_path(song.id), data: {turbo_method: :delete} %> -
        <%= link_to "edit", edit_song_path(song.id) %>
      </li> 
    <% end %>
  <% end %>
</ul>

<%= link_to "New Song", new_song_path %>
<%= link_to "logout", destroy_user_session_path, data: {turbo_method: :delete} %>