<h1 class="m-2 text-xl">Nearby:</h1>

<ul>
  <% unless nearby.nil? %>
    <% nearby[:results].each do |result| %>
      <div style='display: grid; grid-template-columns: 80% 20%' class='my-3 ml-1 flex justify-between items-center'>

        <li>
          <small><%= link_to result[:name], "https://www.google.com/maps/search/?api=1&query=karaoke&query_place_id=#{result[:place_id]}" %> -</small>
          <small><%= place.distance_to(lat, long, result[:place_id]) %></small>
        </li>

        
        <% if current_user.nil? %>
            <%= link_to 'Log in', new_user_session_path, class: 'btn-small btn-blue' %>
        <% else %>
          <%= form_with model: place do |f| %>
            <%= f.hidden_field :name, value: result[:name] %>
            <%= f.hidden_field :place_id, value: result[:place_id] %>
            <%= f.hidden_field :latitude, value: result[:geometry][:location][:lat] %>
            <%= f.hidden_field :longitude, value: result[:geometry][:location][:lng] %>          
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.submit "Add", class: "btn-small btn-blue" %>
          <% end %>
        <% end %>

      </div>
    <% end %>
  <% end %>
</ul>
