<div class="md:center">
  <%= render 'shared/greeting', current_user: current_user %>
  
  <div class="box">
    <%= render 'placelist' %>
  </div>
  
  <div class="box">
    <%= render "search", {result: @search_results, place: @place} %>
    <button class="hidden md:block btn btn-blue" onclick="toggleModal()">Show Nearby</button>
  </div>
  
  <div class="box md:hidden">
    <%= render 'nearby', {nearby: @nearby, lat: @lat, long: @long, place: @place } %>
  </div>

  <div class="modal hidden fixed z-50 w-full h-110 bg-opacity-5 bg-black flex-col justify-center items-center" onclick="toggleModal()">
    <%= render 'nearby', {nearby: @nearby, lat: @lat, long: @long, place: @place } %>
  </div>
</div>