<!DOCTYPE html>
<html>
  <head>
    <title>KaraokeSongOrganizer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%#= render "shared/navbar_desktop" %>

    <%= yield %>

    <script>
      function toggle() {
        let element = document.getElementById("links");
        element.classList.toggle('translate-y-5')
        element.classList.toggle('invisible')
      }
    </script>
  </body>
</html>
